<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.universebuilder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniverseBuilder">
        <activity android:name=".ElegirPagina"></activity>
        <activity android:name=".EditarPagina" />
        <activity android:name=".PantallaCarga">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NuevoUniverso"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".EditarUniverso" />
        <activity android:name=".ListaExplorar" />
        <activity android:name=".ListaMisMundos" />
        <activity android:name=".MenuPrincipal" />
        <activity
            android:name=".Entrar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Registrar"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>